/*页面初始化*/
html,body,h1,h2,h3,p,ul,ol,li,o{
    padding:0;
    border:0;
    margin:0;
    /*font-size:%100;
    font-weight:normal;*/
    font:inherit;/*继承 上面和下面这个是等价的 用其中一个都可以*/
}
/*通用样式*/
body{
    background-color: #ffffff;
    font: 14px 微软雅黑，黑体，Verdana,Arial,sans-serif ;
    color:#333333;
    border-top:8px solid #006f47;
}

/*超链接设置*/
/*超链接的样式*/
a:link{
    color:darkblue;
}
a:hover{
    text-decoration: none ;
    color:darkred;
}
a:active {
    text-decoration: none;
    color: yellow;
}
a:visited{
    color:olivedrab;
}

ul{
    list-style-type: none/*去除导航前面的黑色的圆点*/

}
/*外层盒子*/
.dh{
    width:2000px;
    margin:0 auto;
    background: url("image/ebdbbba411f0988d48eeff0e16bc9933.jpg") ;

}
/*搜索*/
.ss{
    text-align: center ;
    background-color:lavenderblush;

}
/*头部*/
.top-header {
    margin:10px 0;
    height: 120px;
    padding-left: 380px;
}
/*导航前面图片设置*/
.属性{
    float:left;
    margin;20px;

}
/*导航*/
.top-menu {
    float:left;
    margin-top: 30px;
}
.top-menu il{
    padding-left:100px;
}
/*设置导航条的内容水平*/
.top-menu ul li {
    display: inline;
    background-color: bisque;
    padding: 10px 30px;
    margin:0 5px;/*边距*/
    font-size: 24px;
    font-weight: bold;
}
.top-menu ul li.分流区间属性{
    background-color: antiquewhite;
}


/*侧边栏*/
.left-aside {
    float:left;/*浮动*/
    width:350px;


}
/*为侧边栏下的section 添加样式*/
.left-aside section{
    background: burlywood  url("图片路径")  top left;/*图片背景*/
    padding:20px;
    margin-bottom: 20px;
}
.left-aside h3{
    color: bisque;
    font-size: 1.2em;
    margin-bottom: 10px;
}
/*购物之旅*/
.news p{/*设置购物之旅下内容的样式*/

    line-height: 1.8em;
}
.news a{
    color:olivedrab;
    text-decoration: onoe;
}
/*drink照片样式*/
.drinks figure img {
    float: left;
    width: 250px;
    height: 240px;
    border:2px solid #ffffff /*边框*/

}
.drinks figcaption {
    text-align: center ;
    margin-bottom: 5px;
}
/*清除照片浮动*/
.clear{
    clear:both;
}
.drinks .figure-r {
    margin-left: 20px;
}
/*主内容区域*/
main{
    background: sandybrown  url("图片路径") top left;
    padding: 50px;
    margin-left: 360px;


}
/*主内容下的文章的样式*/
main article {
    border-bottom: 1px dashed  olivedrab; /*边框dashed表示虚线*/
    margin-bottom: 10px;
    padding-bottom: 10px;

}
/*主内容下文章下时间与标题的样式*/
main article h3{
    font-size: 24px;
    color:olivedrab;
    margin-bottom: 10px;
}
main article time {
    color:cadetblue;
}
/*主内容样式设置*/
main article p{
    line-height: 30px;/*行距*/
    text-indent: 20px;
    margin:10px 0;
}
/*最后一篇文章样式设置*/
main .last-article {
    border-bottom: none;/*不显示最后的虚线*/

}
main article b{
    font-weight: bold;/*字体加粗*/
    color: olive;

}
main article small{
    color: chocolate;
    font-size: 12px;
}
.sp{
    margin-top: 29px;
    float: right;
}
/*页脚*/
.page-footer {
    clear:both;/*清除浮动*/
    padding:15px;
    margin-top: 30px;
    background-color: brown;
    color:lavenderblush;
    text-align: center ;
    font-size: 90%;
}
.znr{
    padding: 300px;
    float:left;
    margin-right: 360px;
}
.znr h3{
    text-align: center ;
    font-weight: bold;
    font-size: 24px;
    color: chocolate;
    margin-top: 10px;
}